name: C/C++ CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: Ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: build
      run: |
       sudo apt install g++-5
       sudo apt install gcc-5
       sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-5 10
       sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-5 20
      sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-5 10
      sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-5 20
      sudo update-alternatives --install /usr/bin/cc cc /usr/bin/gcc 30
      sudo update-alternatives --set cc /usr/bin/gcc
      sudo update-alternatives --install /usr/bin/c++ c++ /usr/bin/g++ 30
      sudo update-alternatives --set c++ /usr/bin/g++
       mkdir ~/bin
       ln -s /usr/bin/python2 ~/bin/python
       ln -s /usr/bin/python2-config ~/bin/python-config
       export PATH=~/bin:$PATH
       chmod 777 -R scripts/
       make config
       make 
       sudo make modules_install install
#     - name : Upload packages
#       uses: actions/upload-artifact@master
#       if: always()
#       with:
#         name: 3.10_kernel
#         path: /tmp/kernel
